<div class="content">
    <div id="container" *ngIf="!dataLoaded; else loading">
        <div class="row" style="margin-left: 0px !important; margin-right: 0px !important; width: 100% !important;">
            <div class="col-md-12 ml-auto" style="margin-bottom: 20px; text-align: center;">
                <div class="ml-auto" id="monthchartContainer" style="height: 370px; width: 100%; min-width: 100%;"></div>
            </div>
            <mat-divider></mat-divider>
            <div class="col-xl-8">
                <div class="row">
                    <div class=" col-sm-4" style="margin-bottom: 25px;">
                        <mat-card style="width: 100%;">
                            <mat-card-content>
                                <circle-progress [backgroundOpacity]="'1'" [radius]="50" [space]="-10"
                                    [unitsFontSize]="'13'" [outerStrokeGradient]="true" [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#FFA400'" [outerStrokeGradientStopColor]="'#FF0000'"
                                    [innerStrokeColor]="'#ececec'" [innerStrokeWidth]="10" [percent]="meetingLenght"
                                    [titleFontSize]="'32'" [subtitleFontSize]="'12'" [animateTitle]="false"
                                    [animationDuration]="'400'" [showUnits]="false" [responsive]="true"
                                    [startFromZero]="false" [backgroundPadding]="-20" [subtitle]="'Total Meetings'"
                                    [subtitleColor]="'#000000'">
                                </circle-progress>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class=" col-sm-4" style="margin-bottom: 25px;">
                        <mat-card style="width: 100%;">
                            <mat-card-content>
                                <circle-progress [backgroundOpacity]="'1'" [radius]="50" [space]="-10"
                                    [unitsFontSize]="'13'" [outerStrokeGradient]="true" [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#4882c2'" [outerStrokeGradientStopColor]="'#53a9ff'"
                                    [innerStrokeColor]="'#ececec'" [innerStrokeWidth]="10" [percent]="assignmentLength"
                                    [titleFontSize]="'32'" [subtitleFontSize]="'12'" [animateTitle]="false"
                                    [animationDuration]="'400'" [showUnits]="false" [responsive]="true"
                                    [startFromZero]="false" [backgroundPadding]="-20" [subtitle]="'Actions'"
                                    [subtitleColor]="'#000000'">
                                </circle-progress>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class=" col-sm-4" style="margin-bottom: 25px;">
                        <mat-card style="width: 100%;">
                            <mat-card-content>
                                <circle-progress [backgroundOpacity]="'1'" [radius]="50" [space]="-10"
                                    [unitsFontSize]="'13'" [outerStrokeGradient]="true" [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#31F31D'" [outerStrokeGradientStopColor]="'#3D9945'"
                                    [innerStrokeColor]="'#ececec'" [innerStrokeWidth]="10"
                                    [percent]="assignmentResultLength" [titleFontSize]="'32'" [subtitleFontSize]="'12'"
                                    [animateTitle]="false" [animationDuration]="'400'" [showUnits]="false"
                                    [responsive]="true" [startFromZero]="false" [subtitle]="'Decisions'"
                                    [subtitleColor]="'#000000'">
                                </circle-progress>
                            </mat-card-content>
                        </mat-card>
                    </div>

                </div>

                <div class="card-box">
                    <mat-tab-group>
                        <mat-tab label="Action Items">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Agenda Name</th>
                                            <th>Start Date</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Assignee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let action of actions; let i = index"
                                            (click)="actionListPage(action._id)" class="recentMeetings">
                                            <td>{{i+1}}</td>
                                            <td>{{action.ActionItem_Title}}</td>
                                            <td>{{action.ActionDate | date:'shortDate'}}</td>
                                            <td *ngIf="action.Status === 1">In Progress</td>
                                            <td *ngIf="action.Status === 0">Overdue</td>
                                            <td *ngIf="action.Status === 2">Complete</td>
                                            <td><span class="label label-info">{{action.Priority}}</span></td>
                                            <td>{{action.ActionAssignedTo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Decision List">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Agenda Name</th>
                                            <th>Agenda Decision</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Assignee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let action of decisions; let i = index"
                                            (click)="decisionListPage(action._id)" class="recentMeetings">
                                            <td>{{i+1}}</td>
                                            <td>{{action.ActionItem_Title}}</td>
                                            <td>{{action.decision}}</td>
                                            <td *ngIf="action.Status === 1">In Progress</td>
                                            <td *ngIf="action.Status === 0">Overdue</td>
                                            <td *ngIf="action.Status === 2">Complete</td>
                                            <td><span class="label label-info">{{action.Priority}}</span></td>
                                            <td>{{action.ActionAssignedTo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card-box">
                    <div class="panel-body">
                        <div id="piechartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                    <ng-template #loading>
                        <img style="height: 50px; width: 50px;" src="../../../assets/giphy_loading.gif">
                    </ng-template>
                </div>


                <div class="card-box">
                    <h4 class="header-title mt-0 mb-3">Recent Meetings</h4>
                    <div class="" *ngFor="let meeting of allmeeting" (click)="meetingPage(meeting.MeetingID)">
                        <div class="recentMeetings">
                            <h5 class="text-custom">{{meeting.project_Name}}</h5>
                            <p class="mb-0">{{meeting.Meeting_Subject}}</p>
                            <p><b>{{meeting.MeetingTime}}</b></p>
                            <p class="text-muted font-13 mb-0">{{meeting.Meeting_objective}}</p>
                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div id="loader"></div>
    </ng-template>
</div>