<div class="container-fluid" *ngIf="dataLoad; else loading">
    <div class="row mb-2">
        <div class="col" *ngIf="meetings.length > 0; else noMeeting">
            <span class="head">Total number of meeting found :- {{meetings.length}}</span>
        </div>
        <ng-template #noMeeting>
            <div class="col my-3" style="text-align: center;">
                <span style="font-weight: 500; font-size: 24px;">No meeting found!</span>
            </div>
        </ng-template>
    </div>
    <mat-divider></mat-divider>
    <div class="row my-2 body">
        <div class="col-12 mb-2" *ngFor="let meeting of meetings" (click)="onMeeting(meeting.MeetingID)" style="cursor: pointer;">
            <div class="card">
                <div class="card-header">
                    <span style="font-weight: 500; font-size: 14px;">{{meeting.Meeting_Subject}}(MM-{{meeting.MeetingID}})</span>
                </div>
                <div class="card-body" style="color: dimgray;">
                    <div style="margin-top: -10px; margin-bottom: -10px;">
                        <span><span style="font-weight: 500;">Objective :</span> {{meeting.Meeting_objective}}</span><br>
                        <span><span style="font-weight: 500;">Host User :</span> {{meeting.HostUser}}</span><br>
                        <span><span style="font-weight: 500;">Meeting Date :</span> {{meeting.MeetingDate | date: "MMM d, y, h:mm a"}}</span>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div style="text-align: center; padding: 10%;">
        <img src="../../../assets/loading_2.gif">
    </div>
</ng-template>